@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

body {
    margin: 0;
}

.map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.track,
.city {
    text-align: center;
}

/* Sidebar */
.mainStation_name {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5vh;
    font-weight: 400;
}

/* Custom marker styles */

/* simple */
.marker-simple-pin {
    border-radius: 50%;
    position: absolute;
    box-shadow: 2px 2px 2px grey;
    width: 10px;
    height: 10px;
}

.marker-simple-pin:hover {
    width: 15px;
    height: 15px;
}

/* details */
.marker-pin {
    border-radius: 50% 50% 50% 0;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    border-style: solid;
    border-width: 2px;
    box-shadow: 2px 2px 2px grey;
    top: 50%;
    width: 30px;
    height: 30px;
    margin: -15px 0 0 -15px;
}

.circle-marker {
    border-radius: 50%;
    position: absolute;
    border-style: solid;
    width: 8px;
    height: 8px;
    transform: translate(4px, 4px);
    border-width: 1px;
}

.marker-pin::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 3px 0 0 3px;
}

.custom-div-icon i {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    width: 22px;
    font-size: 22px;
    margin: 10px auto;
}

/* personnalize */
.custom-div-icon:hover > .marker-pin {
    top: 35%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
}

.custom-div-icon:hover > .circle-marker {
    width: 11px;
    height: 11px;
    transform: translate(-2px, -4px);
    border-width: 2px;
}

.custom-div-icon:hover > .marker-pin::after {
    width: 32px;
    height: 32px;
    margin: 4px 0 0 4px;
}

.custom-div-icon:hover > i {
    width: 29px;
    top: -10px;
    font-size: 29px;
}

/* Tooltip */

.tooltip_name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2vh;
}

.tooltip_info {
    margin-top: 1vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 3vh;
}

.tooltip_icons {
    font-size: 4vh;
    margin: 0 0.5vh;
}